
.highlight-karcis {
  color: #313437;
  background-color: rgb(175, 61, 86);
  padding: 50px 0 55px;
  overflow: hidden;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #424242;
  color: #fff;
  opacity: 1;
}

@media (max-width:767px) {
  .highlight-karcis {
    text-align: center;
  }
}

.highlight-karcis p {
  color: #fff;
  margin-top: -38px;
}

.highlight-karcis h2 {
  font-weight: bold;
  margin-bottom: 35px;
  line-height: 1.5;
  padding-top: 0;
  margin-top: 0;
  color: #ffffff;
}

.highlight-karcis .intro {
  font-size: 18px;
  max-width: 500px;
  line-height: 1.5;
}

@media (max-width:767px) {
  .highlight-karcis .intro {
    max-width: none;
  }
}

.highlight-karcis .intro p {
  margin-bottom: 75px;
  text-align: left;
  font-size: x-large;
}

.highlight-karcis .intro .btn {
  padding: 16px 32px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
}

.highlight-karcis .intro .btn:hover {
  /* opacity: 1; */
}

.highlight-karcis .intro .btn:active {
  transform: translateY(1px);
}

.highlight-karcis .intro .btn-primary {
  background-color: #5d8086e3;
  color: #fff;
}

.highlight-karcis .karcis-mockup {
  position: relative;
  max-width: 260px;
  margin-top: -9px;
  margin-bottom: -230px;
  transform: rotate(-15deg);
}

.highlight-karcis .karcis-mockup img.device {
  width: 100%;
  height: auto;
}

.highlight-karcis .karcis-mockup .screen {
  position: absolute;
  width: 88%;
  height: 77%;
  top: 12%;
  border-radius: 2px;
  left: 6%;
  border: 1px solid #444;
  background-color: #aaa;
  overflow: hidden;
  background: url(../../assets/img/ticket.png);
  background-size: cover;
  background-position: center;
}

.highlight-karcis .karcis-mockup .screen:before {
  content: '';
  background-color: #fff;
  position: absolute;
  width: 70%;
  height: 140%;
  top: -12%;
  right: -60%;
  transform: rotate(-19deg);
  opacity: 0.2;
}


.navbar-light .navbar-text {
}

.navigation-clean-button .actions .login {
  color: rgb(175, 61, 86);
}

.btn.btn-primary {
  /*top: -40px;*/
  position: relative;
}

.btn.btn-primary {
  background-color: rgb(175, 61, 86);
}

.btn-grey{
  background-color: #424242 !important;
  border-color: #424242 !important;

}

.btn.btn-primary.btn-block {
  top: 0px;
}

body, html {
}

